@import "minima";

.hero-homepage {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 3rem;
  align-items: center;
}

.hero-homepage .hero-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.hero-homepage .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-homepage .hero-text {
  max-width: 420px;
}
